body {
    background-image: url("images/whitediamond.png");
}

#crystals {
    margin: 15px;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: #428dfc;
}

a:hover {
  opacity: .9;
}
